{
  "env": {
    "es6": true,
    "browser": true
  },
  "parser": "babel-eslint",
  "plugins": [
    "react"
  ],
  "extends": [
    "plugin:react/recommended",
    "standard"
  ],
  "rules": {
    "react/prop-types": 0
  }
}